.h-logo{
  width: 150px;
  height: 63px;
}
.pbutton{
  border :"1px solid black"
}
.ulbg{
  background-color: #82A6B9;
}

.tbg{
  background-color:#D9F0F1;
}


.ulb{
  background-color: #C7DBE2;
}
.spanbgbutton{
  padding:7px 7px;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  background-color: #82a6b9
  }
  .spanbgbutton2{
    padding:7px 10px;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    background-color: #82a6b9
    }
    .spanbgbutton2, .spanbgbutton, .spanIcons{
      cursor: pointer;
    }

.inpfield{
  width: 62% !important;
  display: inline-block !important;
}
.mainbg{
  background-color: #D7E7EB;
  padding: 30px !important;
}
.mainbg2{
  background-color: #D7E7EB;
  padding: 5px 10px;
}
.secpadding{
  padding:50px 100px !important;
}
.s-div{
  margin-right: 55px !important;
}
.f-div{
  margin-right: 38px !important;
}
h1,h2{
  font-weight: bolder !important;
  font-family:Gilroy ExtraBold ;
}
.gilroy{
  font-family:Gilroy ExtraBold ;
}
.current{

   border-bottom: 5px solid black;
  border-radius: 10%;
}

.imageContainer{
  width: 187px;
  height: 196px;
}
.tStart{
  text-align: start !important;
}
.button-h:hover{
  background-color: #e5e7eb !important;
  color: black !important;
}
.sectiondocument{
  padding: 30px 120px !important;
}
.first-b:hover{
  background-color: #fff !important;
  color: black !important;
}
.second-b{
  background-color: #0C4D71;
  border: none;
}
.second-b:hover{
  background-color: #0C4D71;
}
  
.section1{
  width: 100%;
  height: 100%;
}
.contact{
  background-color: #EBF6F7 !important;
}
.footer{
  background-color:#0C4D71;
}
input:focus {
  border: 2px solid #0C4D71 !important;
  box-shadow: none !important;
}
textarea:focus{
  border: 2px solid #0C4D71 !important;
  box-shadow: none !important;
}
.button-r{
  border-radius: 16px !important;
}
.button-r2{
  border-radius: 20px !important;
}
.buttonone{
  border-radius: 16px !important;
}
/* .button-r:hover{
  color: #fff !important;
  text-decoration: none;
} */
.buttontwo:hover{
  background: #fff !important;
}
.signup-h{
  width: 200px;
  height: 84px;
}
.signup-two{
  background-color: #0C4D71;
  
}
.div_parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-color{
  background-color: #0C4D71 !important;
}
.google-pic{
  height: 20px;
  width: 20px;
}
.t-div{
  background-color: #EBF6F7;
}
tbody, td, tfoot, th, thead, tr {
  border-color: rgb(209,213,219);
}
.spanone{
  font-size: 14px !important;
}
.spantwo{
  font-size: 16px !important;
}
.tdWidth{
  width: 197px !important;
}

.brBottom{
  border-bottom: none !important;
}

.table>:not(caption)>*>* {
 border-bottom: none !important;
}

.btn:focus{
  color: #fff !important;
  background-color: #0C4D71 !important;
}


/* nav a.active {
  text-decoration: none !important;
  font-weight: normal;
  color: blue !important;
} */

nav a{
  text-decoration: none;
}
.secure-h{
  font-size: 2.9rem;
}
.slide-content{
  position: relative;
}
.arr-s{
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}

.arr-left{
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 10;
}
.arr-right{
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 10;
}
.slide{
  opacity: 0;
  transition-duration: 1s easy;
}
.slide.active{
  opacity: 1;
  transition-duration: 1s;
  /* transform: scale(1.05); */
}
.firstone{
  width: 115px;
  min-height: 28px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  border: 1px solid #000000 !important;
  border-radius: 16px;
  
}

.invoiceButton{
  
  background-color: #ffffff !important;
  color: #000000;
  
}

header {
  /* height: 4em; */
  position: sticky;
  top: 0;
  /* line-height: 4em; */
  text-align: center;
  background-color: tomato;
  color: white;
  font-family: sans-serif;
  transition: transform 150ms ease-in-out;
}

header.nav-bar--hidden {
  transform: translateY(-100%);
}
header{
  z-index: 100000000;
}
.button-bord{
  border-color: #e5e7eb !important;
}
.btn{
  transition: none !important;
}
/* .btn-primary{
  background-color: #0C4D71 !important;
}  */




body.active-modal {
  overflow-y: hidden;
}



.modal1, .overlay1 {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay1 {
  background: rgba(49,49,49,0.8);
}
.modal-content1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background:#fff;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 900px;
  min-width: 300px;
}

.close-modal1 {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}


.btn:active{
  background-color: #0C4D71 !important;
}


#radioWidth{
  width: 13px !important;
}

.iconSize{
  font-size: 13px;
}

.spanIcons{
  padding: px;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  background-color:#bfd3d4;
  }





@media only screen and (max-width: 450px) {
  .feature-h{
    font-size: 30px;
    margin-top: 16px;
  } 
  .feature-p{
    font-size:18px ;
  }
  .footer-p{
    padding-top: 1.8rem !important;
    padding-bottom: 1.8rem !important;
  }
  .all-h{
    font-size: 29px !important;
  }
  .all-p{
    font-size: 17px !important;
  }
  .feature-description{
    margin-top: 1rem;
  }
  .common-image{
    width: 390px !important;
    height: 246px !important;
  }
  .footer-f{
    flex-direction: column !important;
  }
  .onetwo{
    padding: 7px 12px;
  }
  .inb{
    font-size: 12px !important;
  }
 
}
